body {
    background-color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    flex-direction:column;
    height: 100vh;
}   

.contentedit {
    background-color: white;
    width: 50%;
    height: auto;
}
.header {
    display: flex;
    padding: 10px;
}